---
- name: Configure Docker
  hosts: aws_server
  become: yes

  vars:
    compose_src: "{{ playbook_dir }}/files"
    compose_dir: /home/compose_file
    compose_files:
      - sonarqube-docker-compose.yml
      - n8n-docker-compose.yml

  tasks:
    - name: create target directory
      file:
        path: "{{ compose_dir }}"
        state: directory
        # mode: '0755'
    - name: copy docker compose files
      copy:
        src: "{{compose_src}}/{{ item }}"
        dest: "{{compose_dir}}/{{ item }}"
      loop: "{{ compose_files }}" 

    - name: bring up docker compose stacks
      community.docker.docker_compose_v2:
        project_src: "{{ compose_dir }}"
        files:
          - "{{ item }}"
        state: present
      loop: "{{ compose_files }}" 