---
# Configure NAT rules for VM

- name: Set NAT facts
  ansible.builtin.set_fact:
    nat_rules: "{{ natrules | dict2items }}"
  when: natrules is defined and natrules | length > 0

- name: Configure DNAT rules for this VM
  ansible.builtin.iptables:
    table: nat
    chain: PREROUTING
    protocol: tcp
    destination_port: "{{ item.value.host_port }}"
    jump: DNAT
    to_destination: "{{ interfaces.int1.ipaddress }}:{{ item.value.nat_port }}"
    state: present
  loop: "{{ nat_rules }}"
  loop_control:
    label: "DNAT {{ item.value.host_port }} -> {{ interfaces.int1.ipaddress }}:{{ item.value.nat_port }}"
  when: nat_rules is defined and nat_rules | length > 0
