---
# Create single VM from custom-underlay definition
- name: Set VM facts from definition
  ansible.builtin.set_fact:
    vm_name: "{{ vm.vm_name }}"
    vm_definition: "{{ vm.definition }}"
    vm_info: "{{ vm.definition.vm_info | default({}) }}"
    interfaces: "{{ vm.definition.interfaces | default({}) }}"
    natrules: "{{ vm.definition.natrules | default({}) }}"
    image_src: "{{ vm.definition.image_src | default('') }}"
    image_dest: "{{ vm.definition.image_dest | default('/var/lib/libvirt/images/' + vm_name + '.img') }}"
    memory: "{{ vm.definition.memory | default('1024') }}"
    vcpu: "{{ vm.definition.vcpu | default('1') }}"
    commands: "{{ vm.definition.commands | default([]) }}"

- name: Debug VM facts
  ansible.builtin.debug:
    msg: "Creating VM {{ vm_name }} with {{ memory }}MB RAM, {{ vcpu }} vCPU"

- name: Ensure image directory exists
  ansible.builtin.file:
    path: "{{ image_dest | dirname }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Download or copy VM image
  block:
    - name: Download from Google Cloud Storage if gs:// URL
      ansible.builtin.command:
        cmd: "gsutil -m cp {{ image_src }} {{ image_dest }}"
      when: image_src.startswith('gs://')

- name: Create qcow2 overlay disk
  ansible.builtin.command:
    cmd: >
      qemu-img create -f qcow2
      -b {{ image_dest }}
      {{ image_dest | regex_replace('\.img$', '.qcow2') }}
    creates: "{{ image_dest | regex_replace('\.img$', '.qcow2') }}"

- name: Create VM using virt_install
  community.libvirt.virt_install:
    name: "{{ vm_name }}"
    memory: "{{ memory }}"
    vcpus: "{{ vcpu }}"
    disks:
      - path: "{{ image_dest | regex_replace('\.img$', '.qcow2') }}"
    osinfo:
      name: "ubuntu22.04"
    import: true
    networks:
      - network: "default"
    graphics:
      type: vnc
      listen: 127.0.0.1
    cpu:
      model: "host-passthrough"

- name: Configure NAT rules if defined
  ansible.builtin.include_tasks: configure_nat.yml
  when: natrules | length > 0
