---
- name: Ensure image pool dir exists
  ansible.builtin.file:
    path: "{{ kvm_image_pool }}"
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Download Ubuntu cloud image if not present
  ansible.builtin.get_url:
    url: "{{ kvm_image_url }}"
    dest: "{{ kvm_image_pool }}/{{ base_image_name }}.img"
    checksum: "{{ kvm_image_checksum }}"
    mode: '0644'

- name: Create qcow2 overlay disk for this VM
  ansible.builtin.command:
    cmd: >
      qemu-img create -f qcow2 -F qcow2
      -b {{ kvm_image_pool }}/{{ base_image_name }}.img
      {{ kvm_image_pool }}/{{ kvm_vm_name }}.qcow2
      {{ vm_disk_size }}
    creates: "{{ kvm_image_pool }}/{{ kvm_vm_name }}.qcow2"

- name: Create and start VM using virt_install (no XML)
  community.libvirt.virt_install:
    name: "{{ kvm_vm_name }}"
    memory: "{{ vm_ram_mb }}"
    vcpus: "{{ vm_vcpus }}"
    disks:
      - path: "{{ kvm_image_pool }}/{{ kvm_vm_name }}.qcow2"
    osinfo:
      name: "{{ os_variant }}"
    import: true
    networks:
      - network: "{{ network }}"
    graphics:
      type: vnc
      listen: 127.0.0.1
    cpu:
      model: "{{ cpu_model }}"
    user_data: "{{ user_data }}"
    meta_data: "{{ meta_data }}"
