---

- name: apt update
  become: yes
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Disable unattended upgrades
  become: yes
  block:

    - name: Stop unattended-upgrades service
      ansible.builtin.systemd:
        name: unattended-upgrades
        state: stopped
        enabled: no
        masked: yes

    - name: Disable apt-daily services and timers
      ansible.builtin.systemd:
        name: "{{ item }}"
        state: stopped
        enabled: no
        masked: yes
      loop:
        - apt-daily.service
        - apt-daily.timer
        - apt-daily-upgrade.service
        - apt-daily-upgrade.timer


- name: Wait for apt locks to be released
  become: yes
  shell: |
    while fuser /var/lib/dpkg/lock-frontend /var/cache/apt/archives/lock >/dev/null 2>&1; do
      sleep 5
    done
  changed_when: false


- name: Install prerequisites
  ansible.builtin.apt:
    name:
      - git
      - python3-pip
      - cockpit
      - cockpit-machines
      - cockpit-storaged
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - python3-libvirt
      - python3-lxml
    state: present

- name: Install Docker packages
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present

- name: Start cockpit service
  ansible.builtin.systemd:
    name: cockpit
    state: started
    enabled: yes